---
import ExperienceItem from "./ExperienceItem.astro";
---

<h2>experience</h2>

<ul role="list">
  <li>
    <ExperienceItem
      company="Verndale"
      title="Associate Front-End Architect"
      body="<p>I lead a team of front end developers, managing large-scale web projects in a fast-paced Agile environment. I conduct code reviews, perform platform inspections, estimate tasks, architect solutions, and provide technical guidance to the team. I also collaborate with the client's technical team to ensure the successful delivery of our projects.</p>"
      href="https://verndale.com/"
      date="Dec 2023 - Present"
    />
    <ExperienceItem
      company="Verndale"
      title="Lead Front-End Engineer"
      body="<p>I've led internal initiatives such as migrating our front-end toolkit from Webpack to Vite, reducing build and hot reload times by <strong>40%</strong>, and enhancing the developer experience. I created an API mocking add-on for Storybook, streamlining our development process. I also developed an animation framework with web components, cutting the time for common animations by <strong>60%</strong>. I've mentored over <strong>5</strong> junior developers, standardized coding practices, and taken on front-end technical architect roles in <strong>5+</strong> client projects. We recently won an internal hackathon, creating an AI-Driven Landing Page Generator using NextJS, GrapesJS, Contentful, and Sitecore CDP.</p>"
      href="https://verndale.com/"
      date="Jan 2023 - Dec 2023"
    />
    <ExperienceItem
      company="Verndale"
      title="Senior Front-End Engineer"
      body="<p>I translated functional and technical requirements into successful project deliveries for both mid-sized and Fortune 500 companies. This contribution aided our team in achieving a <strong>$7 million</strong> sales target and in attracting at least <strong>5</strong> new clients to the company. I also implemented a set of React components within a large-scale web application, integrated with IBM's Carbon Design System, speeding up the development process by <strong>30%</strong>. I also mentored and coached <strong>2</strong> junior developers, helping them improve their coding skills and standarizing internal coding practices and processes within the company.</p>"
      href="https://verndale.com/"
      date="Aug 2021 - Dec 2022"
    />
    <ExperienceItem
      company="Dorfjungs"
      title="Creative Front-End Developer"
      body="<p>I conceived and crafted captivating, creative, and interactive web animations for projects that received an <strong>honorable mention</strong> from Awwwards and the <strong>CSS Site of the Day</strong> recognition.</p>"
      href="https://dorfjungs.com/"
      date="Apr 2021 - Nov 2021"
    />
    <ExperienceItem
      company="Universidad de las Américas Quito"
      title="Professor"
      body="<p>I taught courses in Interactivity, Physical Computing, Web Technologies, and Video Game Development, leading to a <strong>50%</strong> increase in graduate studies in Interactivity. I also mentored projects benefiting over <strong>300</strong> children in underserved Ecuadorian communities, earning national recognition for innovation and community service.</p>"
      href="https://www.udla.edu.ec/"
      date="Sep 2014 - Aug 2021"
    />
    <ExperienceItem
      company="NIDO Interactive"
      title="Co-founder, Technical Lead"
      body="Reviewed visual designs, functional specs, and selected the tech stack used in <strong>50+</strong> projects. Delivered <strong>40+</strong> interactive and immersive applications for museums and exhibits, as well as <strong>80+</strong> applications and websites for corporations and non governmental organizations."
      href="https://www.linkedin.com/in/pauloguerraf"
      date="Aug 2018 - Aug 2021"
    />
    <ExperienceItem
      company="University of Illinois at Chicago"
      title="Software Engineer, Researcher"
      body="Designed and implemented location-based tracking using Bluetooth Beacons, developed a Microduino-based LED control system for classroom gerbil behavior representation, and created a tangible interface for natural phenomena visualization using Arduino and Java-controlled robots."
      href="https://www.linkedin.com/in/pauloguerraf"
      date="Sep 2013 - Aug 2014"
    />
  </li>
</ul>
<style>
  h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
  }
  ul {
    inline-size: 100%;
    margin-block: 20px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
