---
import ExperienceItem from "./ExperienceItem.astro";
---

<h2>experience</h2>

<ul role="list">
  <li>
    <ExperienceItem
      company="Verndale"
      title="Lead Front-end Engineer"
      body="I have been leading several department initiatives, including the migration of the company's internal front-end toolkit from Webpack to Vite, the development of Storybook addons, and the creation of an animation framework using web components. Additionally, I am mentoring and coaching junior developers while also overseeing the front-end development of several client projects."
      href="https://verndale.com/"
      date="January 2023 - Present"
    />
    <ExperienceItem
      company="Verndale"
      title="Senior Front-end Engineer"
      body="I worked as the Front-End Engineer for enterprise clients across various industries, including retail, higher education, healthcare, and finance. My role involved developing complex client-side applications while adhering to strict compliance rules."
      href="https://verndale.com/"
      date="August 2021 - December 2022"
    />
    <ExperienceItem
      company="Universidad de las Américas Quito"
      title="Professor"
      body="Lectured and supervised courses on Introduction to Interactivity, Physical Computing, Web Technologies and Video Game development"
      href="https://www.udla.edu.ec/"
      date="September 2014 - August 2021"
    />
    <ExperienceItem
      company="NIDO Interactive"
      title="Co-founder, Technical Lead"
      body="Delivered 40+ interactive and immersive applications for museums and exhibits, as well as 80+ applications and websites for corporations and non governmental organizations."
      href="https://www.linkedin.com/in/pauloguerraf"
      date="August 2018 - August 2021"
    />
    <ExperienceItem
      company="University of Illinois at Chicago"
      title="Software Engineer, Researcher"
      body="Designed and implemented location-based tracking using Bluetooth Beacons, developed a Microduino-based LED control system for classroom gerbil behavior representation, and created a tangible interface for natural phenomena visualization using Arduino and Java-controlled robots."
      href="https://www.linkedin.com/in/pauloguerraf"
      date="September 2013 - August 2014"
    />
  </li>
</ul>
<style>
  h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 40px;
  }
  ul {
    inline-size: 100%;
    margin-block: 20px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
