---
import ExperienceItem from "./ExperienceItem.astro";
---

<h2>experience</h2>

<ul role="list">
  <li>
    <ExperienceItem
      company="Verndale"
      title="Lead Front-End Engineer"
      body="I've led internal initiatives such as migrating our front-end toolkit from Webpack to Vite, reducing build and hot reload times by 40%, and enhancing the developer experience. I created an API mocking add-on for Storybook, streamlining our development process. I also developed an animation framework with web components, cutting the time for common animations by 60%. I've mentored over 5 junior developers, standardized coding practices, and taken on front-end technical architect roles in 5+ client projects. We recently won an internal hackathon, creating an AI-Driven Landing Page Generator using NextJS, GrapesJS, Contentful, and Sitecore CDP."
      href="https://verndale.com/"
      date="Jan 2023 - Present"
    />
    <ExperienceItem
      company="Verndale"
      title="Senior Front-End Engineer"
      body="I translated functional and technical requirements into successful project deliveries for both mid-sized and Fortune 500 companies. This contributed to our team achieving a $7 million sales target and attracting a minimum of 5 new clients to the company. I also implemented a set of React components within a large-scale web application, integrated with IBM's Carbon Design System, speeding up the development process by 30%. I also mentored and coached 2 junior developers, helping them improve their coding skills and standarizing internal coding practices and processes within the company."
      href="https://verndale.com/"
      date="Aug 2021 - Dec 2022"
    />
    <ExperienceItem
      company="Dorfjungs"
      title="Creative Front-End Developer"
      body="Conceptualized and delivered eye-catching, creative, functional, and interactive web animations for 2 client projects. One of them received an <a href='https://bit.ly/3OynJqS'>awwwards honorable mention</a>and the <a href='https://bit.ly/43u8MLG'>CSS Site of the Day</a> recognition"
      href="https://dorfjungs.com/"
      date="Apr 2021 - Nov 2021"
    />
    <ExperienceItem
      company="Universidad de las Américas Quito"
      title="Professor"
      body="I taught courses in Interactivity, Physical Computing, Web Technologies, and Video Game Development, leading to a 50% increase in graduate studies in Interactivity. I also mentored projects benefiting over 300 children in underserved Ecuadorian communities, earning national recognition for innovation and community service."
      href="https://www.udla.edu.ec/"
      date="Sep 2014 - Aug 2021"
    />
    <ExperienceItem
      company="NIDO Interactive"
      title="Co-founder, Technical Lead"
      body="Reviewed visual designs, functional specs, and selected the tech stack used in 50+ projects. Delivered 40+ interactive and immersive applications for museums and exhibits, as well as 80+ applications and websites for corporations and non governmental organizations."
      href="https://www.linkedin.com/in/pauloguerraf"
      date="Aug 2018 - Aug 2021"
    />
    <ExperienceItem
      company="University of Illinois at Chicago"
      title="Software Engineer, Researcher"
      body="Designed and implemented location-based tracking using Bluetooth Beacons, developed a Microduino-based LED control system for classroom gerbil behavior representation, and created a tangible interface for natural phenomena visualization using Arduino and Java-controlled robots."
      href="https://www.linkedin.com/in/pauloguerraf"
      date="Sep 2013 - Aug 2014"
    />
  </li>
</ul>
<style>
  h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 40px;
  }
  ul {
    inline-size: 100%;
    margin-block: 20px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
