---

---

<script></script>
<section>
  <h2>tools</h2>

  <div class="marquee">
    <div class="marquee__inner">
      <span>react</span><span>vite</span><span>handlebars</span><span>vue</span
      ><span>svelte</span><span>nuxt</span><span>next</span><span>openai</span
      ><span>tailwind</span><span>pug</span><span>react</span><span>vite</span
      ><span>handlebars</span><span>vue</span><span>svelte</span><span
        >nuxt</span
      ><span>next</span><span>openai</span><span>tailwind</span><span>pug</span>
    </div>
    <div class="marquee__inner" data-direction="reverse">
      <span>sass</span><span>lit</span><span>vitest</span><span>webflow</span
      ><span>gsap</span><span>framer-motion</span><span>websockets</span><span
        >threejs</span
      ><span>strapi</span><span>supabase</span><span>graphql</span><span
        >sass</span
      ><span>lit</span><span>vitest</span><span>webflow</span><span>gsap</span
      ><span>framer-motion</span><span>websockets</span><span>threejs</span
      ><span>strapi</span><span>supabase</span><span>graphql</span>
    </div>
  </div>
</section>

<style>
  section {
    margin-block: 100px;
  }
  h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
  }
  .marquee {
    overflow: hidden;
    margin-block: 50px;
    position: relative;
    --offset: 0px;
    --move-initial: calc(0 + var(--offset));
    --move-final: calc(-50% + var(--offset));

    &::after {
      content: "";
      background: linear-gradient(
        to left,
        #ffffff,
        #ffffff 2%,
        transparent 8%,
        transparent 92%,
        #ffffff 98%,
        #ffffff 100%
      );
      position: absolute;
      inset: 0;
    }
  }

  .marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 15s linear infinite;
  }

  .marquee__inner[data-direction="reverse"] {
    transform: translate3d(var(--move-final), 0, 0);
    animation-direction: reverse;
  }

  .marquee__inner + .marquee__inner {
    margin-block-start: 10px;
  }

  span {
    font-weight: 900;
    font-size: 45px;
    padding-inline: 20px;
    color: #aaa;
    white-space: nowrap;
    transition: color 0.5s ease-in-out;
  }

  @keyframes marquee {
    0% {
      transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
      transform: translate3d(var(--move-final), 0, 0);
    }
  }
</style>
