---
import Card from "./Card.astro";
---

<h2>work</h2>
<ul role="list">
  <li>
    <Card
      title="Grayscale"
      body="Website for an industry leader in digital currency investing."
      role="Front-End Architect"
      href="https://www.verndale.com"
      techStack="Storybook | Handlebars | React | Typescript | GSAP"
      image="/images/projects/grayscale/grayscale.webp"
    />
  </li>
  <li>
    <Card
      title="Crump"
      body="Website for a leading third party distributor and service provider of insurance and retirement products."
      role="Front-End Lead"
      href="https://www.verndale.com"
      techStack="Storybook | Handlebars | React | Typescript | GSAP"
    />
  </li>
  <li>
    <Card
      title="PathAI"
      body="Website for a leading laboraty services company dedicated to improving patient outcomes with AI-powered pathology."
      role="Senior Front-End Engineer"
      href="https://www.verndale.com"
      techStack="Wordpress | GraphQL | React | Typescript | Gatsby"
    />
  </li>
  <li>
    <Card
      title="Manhattan"
      body="Website for the supply chain solutions provider of choice for companies orchestrating omni-channel business operations."
      role="Senior Front-End Engineer"
      href="https://www.verndale.com"
      techStack="Storybook | Handlebars | React | Typescript | GSAP"
      image="/images/projects/manhattan/manhattan.webp"
    />
  </li>
  <li>
    <Card
      title="MCPHS"
      body="Website for a private university focused on health- and life-sciences education."
      role="Lead Front-End Engineer"
      href="https://www.verndale.com"
      techStack="Storybook | Handlebars | React | Typescript | Coveo | Motion One"
      image="/images/projects/mcphs/mcphs.webp"
    />
  </li>
  <li>
    <Card
      title="Loftware"
      body="Website for the world's largest cloud-based enterprise labeling and artwork management provider."
      role="Senior Front-End Engineer"
      href="https://www.verndale.com"
      techStack="Storybook | Handlebars | React | Typescript | Coveo | Motion One"
      image="/images/projects/loftware/loftware.webp"
    />
  </li>
  <li>
    <Card
      title="Unisys"
      body="Website for a multinational information technology services and consulting company."
      role="Senior Front-End Engineer"
      href="https://www.verndale.com"
      techStack="Storybook | Handlebars | React | Typescript | GSAP"
      image="/images/projects/unisys/unisys.webp"
    />
  </li>
  <li>
    <Card
      title="GT Street R"
      body="Animations and interactive modules development for Techart's GTStreetR website made by the German digital-first agency Dorfjungs. CSS Design Awards Website of the Day Oct 4 2021."
      role="Creative Front-End Developer"
      href="https://gtstreetr.techart.de/"
      techStack="Pug | JSON | GSAP"
      image="/images/projects/gtstreetr/gtstreetr.png"
    />
  </li>
  <li>
    <Card
      title="TechwoodHomes"
      body="Animations and interactive modules development for a website made by the German digital-first agency Dorfjungs."
      role="Creative Front-End Developer"
      href="https://techwoodhomes.com/"
      techStack="Pug | JSON | GSAP"
      image="/images/projects/techwoodhomes/techwoodhomes.webp"
    />
  </li>
  <li>
    <Card
      title="Lavawave"
      body="Website for a surf travel agency in Galapagos, Ecuador."
      role="Front-End Developer"
      href="https://lavawavesurf.com/"
      techStack="Wordpress"
      image="/images/projects/lavawave/lavawave.webp"
    />
  </li>
  <li>
    <Card
      title="Casa del Alabado"
      body="Website and E-commerce development for a Precolumbian Art Museum in Ecuador."
      role="Front-End Developer"
      href="https://alabado.org"
      techStack="Wordpress"
      image="/images/projects/casadelalabado/alabado.webp"
    />
  </li>
  <li>
    <Card
      title="Equal Value, Equal Rights"
      body="Website development for a domestic worker’s rights advocacy program in Latin America."
      role="Front-End Developer"
      href="https://igualvalorigualesderechos.org/"
      techStack="Wordpress"
      image="/images/projects/igualvaloresigualderechos/igualvaloresigualderechos.webp"
    />
  </li>
  <li>
    <Card
      title="Yasunidos"
      body="Website development for a social and environmental movement that protects the Ecuadorean Rain Forest."
      role="Front-End Developer"
      href="https://www.yasunidos.org/"
      techStack="Wordpress"
      image="/images/projects/yasunidos/yasunidos.webp"
    />
  </li>
  <li>
    <Card
      title="Surkuna"
      body="Website and e-commerce development for an Ecuadorian NGO."
      role="Front-End Developer"
      href="https://surkuna.org/"
      techStack="Wordpress"
      image="/images/projects/surkuna/surkuna.webp"
    />
  </li>
</ul>
<style>
  h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
  }

  ul {
    inline-size: 100%;
    margin-block: 20px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
</style>
