<script>
  // import { animate } from "framer-motion/dom";
  // const box = document.querySelector(".scroll-spacer h1");
  // animate(box, { x: [0, 100] }, { type: "spring" });
  // console.log(animate);
</script>

<section class="scroll-spacer">
  <h1>Scroll Spacer</h1>
</section>

<style>
  .scroll-spacer {
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
    block-size: 100vh;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
  }
</style>
