---
interface Props {
  title: string;
}
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import IntroAnimation from "../components/IntroAnimation.astro";
import "../styles/global.scss";

const { title } = Astro.props;
---

<script>
  // import Lenis from "@studio-freight/lenis";

  // const lenis = new Lenis();
  // lenis.stop();

  // function raf(time: number) {
  //   lenis.raf(time);
  //   requestAnimationFrame(raf);
  // }

  // window.addEventListener("resize", () => {
  //   lenis.resize();
  // });

  // document.addEventListener("DOMContentLoaded", () => {
  //   lenis.start();
  //   requestAnimationFrame(raf);
  // });
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Front-end Engineer" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
