---
import "../styles/global.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import IntroAnimation from "../components/IntroAnimation.astro";
const { title } = Astro.props;
---

<script>
  // import Lenis from "@studio-freight/lenis";

  // const lenis = new Lenis();
  // lenis.stop();

  // function raf(time: number) {
  //   lenis.raf(time);
  //   requestAnimationFrame(raf);
  // }

  // window.addEventListener("resize", () => {
  //   lenis.resize();
  // });

  document.addEventListener("DOMContentLoaded", () => {
    document.body.classList.add("loaded");
  });
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Paulo Guerra Figueiredo // paulo.codes</title>
    <meta property="og:type" content="website" />
    <meta
      property="og:site_name"
      content="Paulo Guerra Figueiredo portfolio // paulo.codes"
    />
    <meta
      name="description"
      property="og:description"
      content="Front-end Engineer with a background in electronics and human centered design. 
      I love to build things that are useful and delightful."
    />
    <meta
      property="og:title"
      content="Paulo Guerra Figueiredo // paulo.codes"
    />
    <meta
      name="description"
      property="og:description"
      content="Front-end Engineer with a background in electronics and human centered design. 
      I love to build things that are useful and delightful."
    />
    <meta
      name="twitter:title"
      content="Paulo Guerra Figueiredo // paulo.codes"
    />
    <meta
      name="twitter:description"
      content="Front-end Engineer with a background in electronics and human centered design. 
      I love to build things that are useful and delightful."
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="author" content="Paulo Guerra Figueiredo" />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
